@import "tailwindcss";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #111;
    color: #fff;
  }

.clear-title {
  margin-inline-start: calc(var(--spacing) * 4);
}
